@import "mixin";

.header {
    background-image: url(../images/mobile/image-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    &__logotitle {
        color: white;
        font-weight: 700;
        margin-top: 0;
        padding: $padding;
        font-size: 32px
    }


    &__text {
        @include TextCadre;
        margin-inline-end: 10%;
        

    }

    &__textcontainer {
        width: 90%;
        padding-bottom: 30%;
        margin-bottom: 5%;
        margin-inline-start: 5%;
        margin-inline-end: 5%;
        
    }

    &__masthead__navigation--list {
        list-style: $list-style;
    }

    &__masthead__navigation--anchore {
        @include Link
    }

    &__masthead__navigation {
       background-color: black;
       position: relative;
       width: 250px;
       left: -200px;
       padding: calc(#{$padding} * 2);
    }
}

.check {
    zoom: 2;
    top: calc(#{$top} / 2);
    position: absolute;
    right: calc(#{$right} / 2);
    opacity: 0;
}

.button__openbar {
    position: absolute;
    top:calc(#{$top} * 2);
    right: $right;
    background-color: transparent;
    border: none;
}


input[type=checkbox]:checked + .header__masthead__navigation {
    transform: translateX(50%);
    transition: all 0.5s ease;
    margin-inline-start:  calc(#{$margin-inline-start} * 2);
    margin-inline-end:  calc(#{$margin-inline-end} * 2);
 }
 
 input[type=checkbox]:not(:checked) + .header__masthead__navigation {
     transform: translateX(-100%);
     transition: all 0.5s ease-out;
     left: -300px;
     margin-inline-start: $margin-inline-start;
 }



@media(min-width: 800px) {
    .header {
        background-image: url(../images/desktop/image-hero.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}