.main__leader__image {
    width: 100%;
    
}


.main__creation__desktopimage {
    display: none;
    // width: 100%;
    
}

.main__creation__mobileimage {
    width: 100%;
}

@media(min-width: 800px) {
    .main__creation__mobileimage {
        display: none;
        width: 100%;
    }

    .main__creation__desktopimage {
        display: block;
        
    }
}