@mixin TextCadre {
    color: white;
    text-transform: uppercase;
    border: white solid 3px;
    padding: 10%;
    font-weight: 400;
    font-size: 27px;
    line-height: 35px;
}


@mixin SubTextCadre {
    color: white;
    text-transform: uppercase;
    // padding: 5%;
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
    margin-inline-start: $margin-inline-start;
    margin-top: calc(#{$margin-top} * 5);
    width: 110px;
}

@mixin Link {
    text-decoration: none;
    color: white;
}

@mixin Contact {
    background-repeat: no-repeat;
    padding: $padding;
    background-size: 100%;
}