.main__creation__creationlists {
    list-style: $list-style;
    padding-inline-start: $padding-inline-start;
    position: relative;
}


.main__creation__creationlist  {
   margin: $margin;
}

.main__creation__creationtype {
  color: white;
  position: absolute;
  @include SubTextCadre;
  
}

.main__creation__creationbutton {
    background-color: transparent;
    border: gray 1px solid;
    padding-left: calc(#{$padding-left} * 2);
    padding-right: calc(#{$padding-right} * 2);
    padding-top: calc( #{$padding-top} / 2 );
    padding-bottom: calc( #{$padding-bottom} / 2 );
}

.button__container {
    text-align: center;
}

@media(min-width: 800px) {
    .main__creation__creationlists {
        display: grid;
        grid-template-columns: repeat(4, auto);
    }
}