body {
  padding: 0;
  margin: 0;
  max-width: 1440px;
  max-height: 2724px;
  margin-inline-start: auto;
  margin-inline-end: auto; }

.header {
  background-image: url(../images/mobile/image-hero.jpg);
  background-repeat: no-repeat;
  background-size: 100%; }
  .header__logotitle {
    color: white;
    font-weight: 700;
    margin-top: 0;
    padding: 1rem; }
  .header__text {
    color: white;
    text-transform: uppercase;
    border: white solid 3px;
    padding: 10%;
    font-weight: 400;
    font-size: 27px;
    line-height: 35px;
    margin-inline-end: 10%; }
  .header__textcontainer {
    width: 90%;
    padding-bottom: 10%;
    margin-bottom: 5%;
    margin-inline-start: 5%;
    margin-inline-end: 5%; }
  .header__masthead__navigation--list {
    list-style: none; }
  .header__masthead__navigation--anchore {
    text-decoration: none;
    color: white; }
  .header__masthead__navigation {
    background-color: black;
    position: relative;
    width: 250px;
    left: -200px;
    padding: calc(1rem * 2); }

.check {
  zoom: 2;
  top: calc(1rem / 2);
  position: absolute;
  right: calc(1rem / 2);
  opacity: 0; }

.button__openbar {
  position: absolute;
  top: calc(1rem * 2);
  right: 1rem;
  background-color: transparent;
  border: none; }

input[type=checkbox]:checked + .header__masthead__navigation {
  transform: translateX(50%);
  transition: all 0.5s ease;
  margin-inline-start: calc(1rem * 2);
  margin-inline-end: calc(1rem * 2); }

input[type=checkbox]:not(:checked) + .header__masthead__navigation {
  transform: translateX(-100%);
  transition: all 0.5s ease-out;
  left: -300px;
  margin-inline-start: 1rem; }

@media (min-width: 800px) {
  .header {
    background-image: url(../images/desktop/image-hero.jpg);
    background-repeat: no-repeat;
    background-size: 100%; } }

.main__leader__image {
  width: 100%; }

.main__creation__desktopimage {
  display: none;
  width: 100%; }

.main__creation__mobileimage {
  width: 100%; }

@media (min-width: 800px) {
  .main__creation__mobileimage {
    display: none;
    width: 100%; }
  .main__creation__desktopimage {
    display: block; } }

.main__imagecontainer {
  margin-inline-end: 10%;
  margin-inline-start: 10%; }

.main__leader__title,
.main__leader__text {
  text-align: center;
  justify-content: center; }

.main__leader__title,
.main__leader__text {
  margin-inline-end: 5%;
  margin-inline-start: 5%; }

.main__creation__creationlists {
  list-style: none;
  padding-inline-start: 1rem;
  position: relative; }

.main__creation__creationlist {
  margin: 1rem; }

.main__creation__creationtype {
  color: white;
  position: absolute;
  color: white;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 24px;
  line-height: 20px;
  margin-inline-start: 1rem;
  margin-top: calc(1rem * 5);
  width: 110px; }

.main__creation__creationbutton {
  background-color: transparent;
  border: gray 1px solid;
  padding-left: calc(1rem * 2);
  padding-right: calc(1rem * 2);
  padding-top: calc( 1rem / 2);
  padding-bottom: calc( 1rem / 2); }

.button__container {
  text-align: center; }

.footer {
  background-color: black;
  text-align: center; }
  .footer__logo {
    color: white;
    font-weight: 700;
    font-size: 32px;
    padding: 1rem; }
  .footer__container__navigation--lists {
    list-style: none; }
  .footer__container__navigation--anchore {
    text-decoration: none;
    color: white; }
  .footer__container__navigation--list {
    margin-top: 1rem; }
  .footer__linkcontainer__navigation--anchore {
    text-indent: -9999px;
    display: inline-block; }
  .footer__linkcontainer__navigation--lists {
    display: flex;
    list-style: none;
    justify-content: center; }
  .footer__linkcontainer__navigation--list {
    margin: 1rem; }

.facebbok {
  background-image: url("../images/icon-facebook.svg");
  background-repeat: no-repeat;
  padding: 1rem;
  background-size: 100%; }

.twitter {
  background-image: url("../images/icon-twitter.svg");
  background-repeat: no-repeat;
  padding: 1rem;
  background-size: 100%; }

.pinterest {
  background-image: url("../images/icon-pinterest.svg");
  background-repeat: no-repeat;
  padding: 1rem;
  background-size: 100%; }

.istagram {
  background-image: url("../images/icon-instagram.svg");
  background-repeat: no-repeat;
  padding: 1rem;
  background-size: 100%; }
